#title {
	font-family: century gothic; didot;
	text-shadow: 2px 2px #ffe6ff;
}

p {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
}
li {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
}

h1 {
	font-family: century gothic; didot;
	margin-top: 30px;
}

h2 {
	margin-bottom: 10px;
}

.contents {
	background-color: #eef2f3;
	border: 1px solid #2d2d5d;
	margin: 25px 5px 15px 5px;
	padding: 5px 5px 5px 5px;
	width: 15%
}

#contents {
	font-family: century gothic; didot;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.procedurallanguages {
	list-style-type: square; 
}

.caption {
	background-color: #eef2f3;
}

.img-container{
	margin: 15px 15px 15px 15px;
	padding: 15px 15px 15px 15px;
	border: 1px solid black;
	max-width: 25%;
}

.img-container img {
	max-width: 100%;
}

.pull-left {
	float:left;
}

.pull-right {
	float: right;
}

.columns {
	columns: 2;
	column-width: auto;
}

a:link {
	text-decoration: none;
}

a:active {
	background-color: #f3e44e;
}

a:hover {
	font-size: 150%;
}

a:visited {
	color: #f34ef3;
}